.filter {
  margin-top: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
}
.filter-link {
  font-size: 20px;
  color: #777;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  &:first-child {
    margin-right: 70px;
  }
  &:hover,
  &.active {
    color: #222;
    text-decoration: none;
  }
}
