.footer {
  background-color: #f8f8f8;
  margin-top: 65px;
  padding-top: 75px;
}
.footer-list {
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  font-family: 'Playfair Display', serif;
  color: #777;
  font-size: 16px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  &:hover {
    color: #222;
    font-weight: 700;
  }
}
.footer-search {
  display: flex;
  align-items: center;
}
.form-input {
  font-family: 'Playfair Display', serif;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.24px;
  border: 1px solid #ececec;
  background-color: #fff;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 14px;
}
.form-btn {
  background-color: #d3c4a6;
  padding-top: 18px;
  padding-bottom: 14px;
  border: 0;
  margin-left: -5px;
  color: #fff;
}
.footer-text {
  font-family: 'Playfair Display', serif;
  color: #888;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.63px;
  padding-bottom: 65px;
}
