.header {
  padding-top: 30px;
  padding-bottom: 50px;
}
.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}
.nav-link {
  display: inline-block !important;
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  text-decoration: none;
  transition: 0.2s all ease-in;
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
  &:hover {
    border-bottom: 1px solid #777;
    padding-bottom: 2px;
    color: #222;
  }
}
.search {
  color: #777;
  &:hover {
    color: #222;
  }
}
.header-title {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 43.29px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-bottom: 25px;
  margin-top: 40px;
}
.header-subtitle {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 43.29px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  display: inline-block;
}
